html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#home {
  background-image: url("../assets/bg.jpg");
  background-size: cover;
}

#home-card {
  max-width: 512px;
  border-radius: 8px;
}

#kim {
  background-image: url("../assets/kimbuenaobra.jpg");
  background-size: cover;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

#jerwin {
  background-image: url("../assets/jerwin.png");
  background-size: cover;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
